<h1><%= @deck.name %></h1>

<%# <form action="/serch" method="get" accept-charset="UTF-8">
  <label for="query">ポケモン:</label>
  <input id="query" name="pokemon" type="text" />
  <input name="commit" type="submit" value="検索" data-disable-with="Search" />
</form> %>


<%= form_with url: deck_path(@deck), method: :get do |form| %>
  <input type="text" name="name" value="ピカチュウ">
  <%= form.submit "検索" %>
<% end %>

<% if !@InputPokemons.nil? %>
  <% @InputPokemons.each do |pokemon| %>
    <%= pokemon.name %>
  <% end %>
<% end %>

<% if !@InputEnergies.nil? %>
  <% @InputEnergies.each do |energy| %>
    <%= energy.name %>
  <% end %>
<% end %>


<h2>ポケモン</h2>
<% @pokemons.each do |pokemon|%>
  <%= form_with method: :post, model: @deck do |form| %>
    <input type="hidden" name="pokemon_id" value="<%= pokemon.id%>">
    <%= pokemon.name %>
    <%= form.submit "追加" %>
  <% end %>
<% end %>


<h2><%= "#{@deck.name}のカード" %></h2>

<% @CardInDecks.each do |card_in_deck| %>
  <% if !card_in_deck.pokemon.nil? %>
    <%= form_with url:deck_cardindeck_path(card_in_deck),method: :patch do |form| %>
      <input type="hidden" value="<%= card_in_deck.id %>">
      <%= card_in_deck.pokemon.name %>
      <%= form.button "削除", formmethod: :delete, data:{ confirm: "Are you sure?" } %>
    <% end %>
  <% end %>

    <% if !card_in_deck.item.nil? %>
      <%= form_with url:deck_cardindeck_path(card_in_deck),method: :patch do |form| %>
      <input type="hidden" value="<%= card_in_deck.id %>">
        <%= card_in_deck.item.name %>
      <%= form.button "削除", formmethod: :delete, data:{ confirm: "Are you sure?" } %>
      <% end %>
    <% end %>

    <% if !card_in_deck.support.nil? %>
      <%= form_with url:deck_cardindeck_path(card_in_deck),method: :patch do |form| %>
      <input type="hidden" value="<%= card_in_deck.id %>">
        <%= card_in_deck.support.name %>
      <%= form.button "削除", formmethod: :delete, data:{ confirm: "Are you sure?" } %>
      <% end %>
    <% end %>

    <% if !card_in_deck.pokemon_no_item.nil? %>
      <%= form_with url:deck_cardindeck_path(card_in_deck),method: :patch do |form| %>
      <input type="hidden" value="<%= card_in_deck.id %>">
        <%= card_in_deck.pokemon_no_item.name %>
      <%= form.button "削除", formmethod: :delete, data:{ confirm: "Are you sure?" } %>
      <% end %>
    <% end %>

    <% if !card_in_deck.stajiamu.nil? %>
      <%= form_with url:deck_cardindeck_path(card_in_deck),method: :patch do |form| %>
      <input type="hidden" value="<%= card_in_deck.id %>">
        <%= card_in_deck.stajiamu.name %>
      <%= form.button "削除", formmethod: :delete, data:{ confirm: "Are you sure?" } %>
      <% end %>
    <% end %>

    <% if !card_in_deck.energy.nil? %>
      <%= form_with url:deck_cardindeck_path(card_in_deck),method: :patch do |form| %>
      <input type="hidden" value="<%= card_in_deck.id %>">
        <%= card_in_deck.energy.name %>
      <%= form.button "削除", formmethod: :delete, data:{ confirm: "Are you sure?" } %>
      <% end %>
    <% end %>

  <% end %>
