<body>
  <h1>PokeCa</h1>

  <div class="new_deck">
    <h2>新規作成</h2>
    
    <%= form_with url: pokemon_path, method: @deck do |form| %>
    <%= form.label :デッキ名 %> <%= form.text_field :name %>
    <p>スターターキットを使用する際は、スターターキットを選択してください。</br>
    ※初心者の人におすすめ</p>

    <%# <p>
      <input type="radio" name="starter_kit">炎
      <input type="radio" name="starter_kit">水
      <input type="radio" name="starter_kit">雷
      <input type="radio" name="starter_kit">超能力
    </p> %>
    <%= form.submit "登録" %>
    <%# <button class="deck_create_btn">作 成</button> %>
    <% end %>
  </div>

  <ul>
    <% @decks.each do |deck| %>
      <%= link_to(deck) do %>
        <li><%= deck.name %></li>
      <% end %>
    <% end %>
  </ul>
  

</body>
